@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
// Mixin create for reuseable code
@mixin light-weight-heading {
  font-weight: 200;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfbf5;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Syne", sans-serif;
}
body {
  padding: 1rem;
}

main {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid black;
  padding-top: 3rem;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  p {
    @include light-weight-heading;
  }

  h1 {
    font-weight: 300;
    font-size: 3.8rem;
    width: 80%;
  }
  .image {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}

// Our Values Section
.our-values {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
    flex-direction: column;
  gap: 1.5rem;

  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-weight: 400;
      font-size: 3.5rem;
      width: 90%;
    }

    p {
      @include light-weight-heading;
    }


    button{
        cursor: pointer;
        padding: 1rem;
        border: 0.7em;
        border-radius: 0.7em;
        background-color: black;
        -webkit-border-radius: 0.7em;
        -moz-border-radius: 0.7em;
        -ms-border-radius: 0.7em;
        -o-border-radius: 0.7em;
        color: white;
        width: fit-content;
}





  }

  .right {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    

    .right-container {
            display: flex;
            gap: 1rem;
            flex-direction: column;
    
            svg {
                width: 4rem;
                aspect-ratio: 1/1;
              
            }
            h1 {
                font-weight: 400;
                font-size: 2.5rem;
            }
            p {
                @include light-weight-heading;
            }
    
        }





  }


  .line{
    background-color: black;
    height: 1px;
  }
}

@media (min-width: 1020px) {
  main {
    padding: 3rem;
  }

  .about {
    h1 {
      font-size: 7rem;
      width: 100%;
    }
  }


  .our-values {
    flex-direction: row;
  
   
        .left {
                width: 60%;
                justify-content:space-between;
                    h1 {
                        font-size: 5rem;
                        width: 100%;
                    }
            }
    .line{
        height: initial;
        width: 1px;

    }

    .right{

        width: 40%;
        .line{
            height: 1px;
            width: initial;
             
        }
    }
}



}
